/*@import url(http://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic-ext);*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300&subset=latin,cyrillic-ext);

body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: url(/Content/Images/background.jpg) no-repeat center center fixed !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
    margin: 5px 20px !important;
    /*font-family: 'Lobster', cursive;*/
    /*font-family: 'Open Sans Condensed', sans-serif;*/
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 5px;
    padding-right: 5px;
}

.container {
    margin-left: auto !important;
    margin-right: auto !important;
}

.login-register-form {
    background-color: white !important;
    padding: 20px;
    opacity: 0.85;
    border-radius: 8px;
}

.upload-image-input-div {
    padding-left: 15px !important;
}
.site-logo {
    font-weight: bolder;
    font-size: 26px;
}

.post-shitt-navbar-button {
    color: white !important;
    font-weight: bolder;
}

.post-shitt-navbar-button:hover {
 
    color: black !important;
    font-weight: bolder;
}

.post-shitt-navbar-button:active {

    color: black !important;
    font-weight: bolder;
}

.site-logo:hover {
    color: #4183c4 !important;
}

.main-nav-bar-links:hover {
    background-color: #E6E6E6 !important;
}

.user-profile-navbar-link { 
    font-weight: bold;
}

.right-panel-container {
    margin-top: 20px;
    padding: 5px !important;
}

.user-panel-container {
    margin-top: 20px;
    padding: 5px !important;
}

.shitt-div-container {
    padding: 5px;
    border: 1px solid #F0F0F0;
    background-color: white;
    opacity: 0.95;
}

.shitt-div-container:hover {
    border: 1px solid #337ab7;
    cursor: pointer;
}

.shittt-user-info-container {
    margin-left: 12px;
}

.user-tag-name {
    margin-top: -10px;
    font-weight: bolder;
    color: #337ab7;
}

.shittt-user-photo-container {
    height: 80px;
    width: 100px;
}

.shittt-user-photo {
    border: 3px solid white;
    width: auto;
    height: 95%;
    border-radius: 8px;
}

.user-profile-pannel-photo-container {
    height: 210px !important;
    width: 230px;
    padding-right: 2px;
}

.user-profile-pannel-photo {
    border: 4px solid white;
    width: auto;
    height: 95%;
    border-radius: 8px;
}

.user-profile-panel-info {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    opacity: 0.95;
    margin-top: -2px !important;
    padding-top: 0px !important;
}

.user-profil-summary-paragraph {
    text-align: justify;
    word-wrap: break-word !important;
}

.user-shitts-folloers-following-links:hover {
    text-decoration: none;
    color:#0084B4 !important;
}

.follow-user-button-div {
    margin-top: 10px;
    margin-left: 3px !important;
    margin-right: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.follow-user-button {
    width: 80%;
    font-size: 16px;
}
.shittt-user-info-container {
    padding-right: 5px !important;
}

.shitt-content-paragraph {
    font-family: 'Open Sans', sans-serif;
    font-weight: 200 !important;
    font-size: 17px;
    text-align: justify;
    word-wrap: break-word !important;
}

.shitt-div-content {
    padding: 7px;
}

.shitt-post-photo-container {
    width: 100%;
    height:300px;
}

.shitt-post-photo {
    width:auto;
    height:90%;
}

.post-shittt-user-photo-container {
    height: 60px;
    width: 80px;
}

.post-shitt-div {
    background-color: #E5F2F7 !important;
    border: 2px solid #BFE0EC !important;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
}

#shitt-post-content {
    width: 100%;
    margin-top: 5px;
}

.shitt-post-textarea-div {
    padding-top: 0px !important;
    padding-left: 10px;
}

 textarea {
    max-width: 500px !important;
}

#post-shitt-buttons {
    display:none;
    padding-top: 10px;
}

.upload-shitt-photo-div {
    position: relative;
    display: none;
    height: 140px;
    width: 140px;
}

.uploaded-image-content {
    display: none;
    border: 1px solid white;
    width: auto;
    height: 95%;
}

.uploadshitt-file-size-alert, .uploadshitt-file-format-alert {
    display: none;
}

.upload-shitt-photo-div .delete-uploaded-shitt-photo {
    position: absolute;
    bottom: 10px;
    right: -70px;
    z-index: 100;
}

/* Override the default bootstrap behavior where horizontal description lists 
       will truncate terms that are too long to fit in the left column 
    */
.dl-horizontal dt {
    white-space: normal;
}

.underline-text:hover {
    text-decoration: underline;
    cursor: pointer;
}

.black-text-link {
    color: black !important;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select {
    max-width: 280px;
}

.center {
    float: none !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.blue-semi-div {
    background-color: #0084B4 !important;
    height: 100px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.user-left-panel-info {
    background-color: white !important;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.user-left-panel-div {
    border-radius: 10px;
    line-height: 30px;
}

.user-left-pannel-photo-container {
    height: 100px;
    width: 120px;
    padding-right: 2px;
    line-height: 30px;
    bottom: 35px;
}

.user-left-pannel-photo {
    border: 4px solid white;
    width: auto;
    height: 95%;
    border-radius: 8px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
    /*image file upload button*/
    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        background: red;
        cursor: inherit;
        display: block;
    }

.shitts-folloers-following-headings {
    color: #8c9ca9;
}

.user-info-counts {
    color: #0084B4 !important;
    font-weight: bolder;
    font-size: 16px;
    margin-top: -10px;
}

#profile-picure {
    width: 200px !important;
}

#edit-profile-text-area {
   width: 230px !important;
}

.black-text-link {
    color: black !important;
}

.home-page-shitts-containter {
    margin-top: 20px;
}

.user-pofile-tabs {
    color:black !important ;
    font-weight: bolder;
}

.user-pofile-tabs-content {
    padding-left: 0px !important;
}

.user-mini-profile-div-container {
    display: inline-block !important;
    background-color:white !important;
    opacity: 0.9 !important;
    height: 290px !important;
    width: 280px !important;
    border-radius: 10px;
    padding: 8px !important;
    margin-left: 8px !important;
    margin-top: 8px !important;
    border: 2px solid #F0F0F0;
}

.user-mini-profile-photo-container {
    width: 140px;
    height:100px;
}

.user-mini-profile-photo {
    border: 1px solid white;
    width: auto;
    height: 95%;
    border-radius: 8px;
}

.user-mini-profile-name-heading {
    margin-top: 5px !important;
    margin-bottom: 2px !important;
}

.user-mini-profile-name-heading-link {
    color: black !important;
}
.follow-user-button-mini {
   font-size: 14px !important;
}

.user-mini-profile-summary {
    word-break: break-all !important;
}

.user-mini-profile-button-container {
    margin-left: 5px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.blue-semi-div-mini {
    background-color: #0084B4 !important;
    margin: 0px !important;
    padding: 3px !important;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.edit-profile-left-side {
    padding-right: 5px !important;
}

.edit-profile-right-side {
    padding-left: 5px !important;
}

.edit-profile-photo-container {
    width: 90%;
    height:200px;
}

.edit-profile-photo {
    border: 1px solid white;
    width: auto;
    height: 95%;
    border-radius: 8px;
}

.upload-file-size-alert {
    display:none;
}
.upload-file-format-alert {
    display: none;
}

.summary-size-alert {
    display: none;
}

.top-users-list-div {
    display: none;
}

.user-link-photo-container {
    height: 60px;
    width: 90px;
}

.user-link-photo {
    border: 3px solid white;
    width: auto;
    height: 95%;
    border-radius: 8px;
}

.user-link-info {
    padding-left: 0px !important;
}

.top-ranking-paragraph {
    text-align: justify;
    /*word-break:  break-all;*/
}

.user-searh-link-photo-container {
    height: 40px;
    width: 70px;
    padding-right: 0px !important;
}

.user-search-link-photo {
    border: 2px solid white;
    width: auto;
    height: 95%;
    border-radius: 4px;
}

#search-results {
  position: absolute;
  top: 100%;
  z-index: 900;
}

.search-result-div-row {
    margin: 0!important;
    width: 100% !important;
}

.search-result-list-item {
    width: 260px !important;
}

#divProcessing {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.pagination-div {
    float: none !important;
    margin-left: auto !important;
    margin-right: auto !important;
}


/*back to top button */
.back-to-top {
    position: fixed;
    bottom: 2em;
    right: 10px;
    text-decoration: none;
    color: black;
    font-size: 12px;
    padding: 1em;
    display: none;
    cursor: pointer;
}

.back-to-top:hover {    
   /* background-color: #2fa4e7 !important;*/
    color: white;
    cursor: pointer;
}

footer {
    position: fixed;
    bottom: 0;
}
