<div class="well well-sm">
    <h3 class="text-center text-info">Top users</h3>
    <p class="top-ranking-paragraph">Ranking is based on posts count and is calculated real-time after every post.</p>
</div>
<div class="top-users-list-div">
</div>