@using Microsoft.AspNet.Identity;
@using PagedList.Mvc;
@model PagedList.IPagedList<Shitter.Web.Models.Shitts.ShittViewModel>

<div class="row home-container">
    @*LEFT SIDE BAR*@
    <div class="user-panel-container col-md-3">
    </div>
    @*CENTER PAGE WITH SHITTS*@
    <div class="home-page-shitts-containter col-md-6">
        @Html.DisplayForModel()
        @*PAGINATION*@
        <div class="center pagination-div">
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
        </div>
    </div>
    @*RIGHT SIDE BAR*@
    <div class="left-panel-container col-md-3">
        @Html.Partial("_RightSidePanelPartial")
    </div>
</div>





