@{
    ViewBag.Title = "NotFound";
}

<div class="row">
    <div class="col-md-6 center">
        <h3 class="text-center text-info">@ViewBag.Message</h3>
        <p class="text-center text-info">
            You can search Shitter using the search box below or @Html.ActionLink("return to the homepage.", "Index")
        </p>
    </div>
</div>




