@{
    ViewBag.Title = "Success";
}

<div class="row">
    <div class="col-md-6 center">
        <h3 class="text-center text-info">@ViewBag.Message</h3>
        <p class="text-center text-info">
            @Html.ActionLink("Return to homepage.", "Index")
        </p>
    </div>
</div>





