<div id="post-shitt-modal" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title bold-text center">Post Shitt</h4>
            </div>
            <!-- get comment content and id with jquery and put them in hidden fileds for further form submit -->
            <form action="Comments_Controller.php" method="post">
                <div class="modal-body">
                    <textarea class="form-control" rows="2" name="comment-content" placeholder="Write a comment..." id="edit-comment-textarea" required></textarea>
                    <input type="hidden" name="hidden-comment-id" value="" id="hidden-comment-id">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <input type="submit" class="btn btn-primary" name="edit-comment" value="Edit"></a>
                </div>
            </form>

        </div>
    </div>
</div>