@model Shitter.Web.Models.Users.UserProfileViewModel

<div class="row user-profile-page-container">
    @*LEFT SIDE BAR*@
    <div  class="user-panel-container col-md-3">
        @Html.Partial("_UserProfileLeftPanelPartial")
    </div>
    @*CENTER PAGE WITH SHITTS*@
    <div class="home-page-shitts-containter col-md-6">
        @Html.DisplayFor(x => x.PostedShitts);
    </div>
    @*RIGHT SIDE BAR*@
    <div class="col-md-3 left-panel-container">
    </div>
</div>


